header {
    background-color: rgb(210, 131, 131);
}

body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: rgb(210, 131, 131);
}

.slikaV {
    width: 100px;
    height: 100px;
}

.odjeljak {
    padding-top: 20px;
    padding-bottom: 10px;
    
}

.profilna {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profilna:hover {
    transform: scale(1.5);
}

.sectionGrid{
    display:inline-grid;
    column-gap: 20%;
    grid-template-columns: auto auto;
}

table, td, th{
    border: 2px solid black;
}

.tablicaP{
    font-weight: bold;
}

#parno{
    background-color: rgb(147, 113, 58);
}

.obrazac{
    text-align: center;
}

.auth-grid{
    display: grid;
    grid-template-columns: auto auto;
}

#obrazac-prijava{
    font-weight: bold;
}

#obrazac-registracija{
    background-color: blanchedalmond;
    border: 2px solid black;
}

.video{
    padding: 20px;
}